## Variable

In [ ]:
x = 'halo'

In [ ]:
x

'halo'

In [ ]:
y = 30
y

30

In [ ]:
k = 50
k

50

## Conditional

In [ ]:
if False:
  a = 5
  b = 2
  jumlah = a + b
  print(jumlah)

In [ ]:
angka = 20

if angka > 30:
  print(f'{angka} lebih besar dari 30')

In [ ]:
20 > 30

False

In [ ]:
35 > 30

True

In [ ]:
angka = 10

if angka > 30:
  print(f'{angka} lebih besar dari 30')
elif angka == 30:
  print(f'{angka} sama dengan 30')
elif angka > 20:
  print(f'{angka} lebih besar dari 20')
else:
  print(f'{angka} lebih kecil dari 30')

10 lebih kecil dari 30

- A = [80 - 100]
- B = [70 - 80)
- C = [60 - 70)
- D = [45 - 60)
- E = [0 - 45)

In [ ]:
# a.v
nilai = 110
if nilai<45:
    print('E')
elif nilai<60:
    print('D')
elif nilai<70:
    print('C')
elif nilai<80:
    print('B')
else: 
    print('A')

A

In [ ]:
# a.i.i
nilai = float(input('Masukkan nilai : '))

if 80<=nilai<=100:
    print('Nilai anda adalah A')
elif 70<=nilai<80:
    print('Nilai anda adalah B')
elif 60<=nilai<70:
    print('Nilai anda adalah C')
elif 45<=nilai<60:
    print('Nilai anda adalah D')
else: 
    print('Nilai anda adalah E')

Masukkan nilai : 1
Nilai anda adalah E

In [ ]:
# Nested if
# A = [80 - 100]
# B = [70 - 80)
# C = [60 - 70)
# D = [45 - 60)
# E = [0 - 45)
nilai = 50

if 0<=nilai<=100:
  if nilai >= 80:
    print('A')
  elif nilai >= 70:
    print('B')
  elif nilai >=60:
    print('C')
  elif nilai >= 45:
    print('D')
  elif nilai >= 0:
    print('E')
else:
  print('nilai tidak valid')

D

In [ ]:
# n.s
angka = 10
if angka % 2 == 0:
    print(f'{angka} merupakan Angka Genap')
else:
    print(f'{angka} merupakan Angka ganjil')

10 merupakan Angka Genap

In [ ]:
cities = ('Madura', 'Majalengka', 'Balik Papan')
nama_kota = 'Madura'

if nama_kota in cities:
  print(f'{nama_kota} merupakan kelompok dari cities')
else:
  print(f'{nama_kota} bukan merupakan kelompok dari cities')

Madura merupakan kelompok dari cities

In [ ]:
nama_kota in cities

False

## Looping

### While Loop

In [ ]:
while True:
  print('test')

In [ ]:
i = 0

while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [ ]:
angka = 0

In [ ]:
angka = angka + 1
angka

8

In [ ]:
i = 1

while i <= 10:
  print(f'5 x {i} = {5 * i}')
  i = i + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
i = 1
j = 1

while i <= 10:
  j = 1
  while j <= 10:
    print(f'{i} x {j} = {i * j}')
    j = j + 1
  print('-'*10)
  i = i + 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

### For Loop

In [ ]:
cities = list(cities)
cities

['Madura', 'Majalengka', 'Balik Papan']

In [ ]:
for kota in cities:
  print(kota)

Madura
Majalengka
Balik Papan

In [ ]:
len(cities)

3

In [ ]:
i = 0

while i < len(cities):
  print(cities[i])
  i += 1                  # i = i + 1

Madura
Majalengka
Balik Papan

In [ ]:
i = 0
type(i)

int

In [ ]:
i = i + 1
i

3

In [ ]:
i += 1
i

6

In [ ]:
p = 7.8
type(p)

float

In [ ]:
for idx in range(len(cities)):
  print(cities[idx])

Madura
Majalengka
Balik Papan

In [ ]:
for i in range(1,11):
  print(f'5*{i} = {5*i}')

5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [ ]:
# Nested for loop

for i in range(1,11):
  for j in range(1,11):
    print(f'{i} x {j} = {i*j}')
  print('-'*10)

In [ ]:
type(range(1, 11))

range

In [ ]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Flow Control Statement

In [ ]:
for i in range(1,11):
  if i in [4,6,7]:
    continue
  print(i)

1
2
3
5
8
9
10

In [ ]:
nilai = [70, 34, 29,99, 57, 46, 87]
grade = []
for i in nilai:
  if 0<=i<=100:
    if i >= 80:
      print('A')
      grade.append('A')
    elif i >= 70:
      print('B')
      grade.append('B')
    elif i >=60:
      print('C')
      grade.append('C')
    elif i >= 45:
      print('D')
      grade.append('D')
    elif i >= 0:
      print('E')
      grade.append('E')
  else:
    print('nilai tidak valid')

grade

B
E
E
A
D
D
A

['B', 'E', 'E', 'A', 'D', 'D', 'A']

In [ ]:
print(nilai)
print(grade)

[70, 34, 29, 99, 57, 46, 87]
['B', 'E', 'E', 'A', 'D', 'D', 'A']